* {
    box-sizing: border-box;
}

body {

}

h1 {
    text-align: center;
}

h2 {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}
.timeOption {
    height: 60px;
    width: 300px;
    border: 2px solid darkgrey;
    border-radius: 10px;
    margin: 10px auto 0 auto;

}

p {
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
}
